Repository blastpoint-inc/precommit-ci-test: changes, and which pre-commit hooks are due for each by the changed paths.
All: pdm-lock-check, toml-sort, forbidden-files

pdm-lock-check:
  name: pdm-lock-check
  entry: pdm lock --check
  language: python
  pass_filenames: false

toml-sort:
  name: toml-sort
  entry: pdm run toml-sort
  language: system

forbidden-files:
  name: forbidden files
  entry: found Copier update rejection files; review them and remove them
  language: fail

update pyproject.toml, add pre-commit
  pyproject.toml
Due: pdm-lock-check, toml-sort

update pdm.lock
  pdm.lock
Due: none

update .pre-commit-config
  .pre-commit-config.yaml
  pyproject.toml
Due: pdm-lock-check, toml-sort

intentional mis-sort
  pyproject.toml
Due: pdm-lock-check, toml-sort

update .pre-commit-hook
  .pre-commit-config.yaml
Due: none

update pre-commit-config
  .pre-commit-config.yaml
Due: none

add ruff-pre-commit repo
  .pre-commit-config.yaml
Due: none

add pkg-fourth
  src/pkg-fourth/README.md
  src/pkg-fourth/pkg_fourth/__init__.py
  src/pkg-fourth/pyproject.toml
Due: toml-sort

update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

update precommit, relock
  .pre-commit-config.yaml
  pdm.lock
Due: none

update functions for docstrings
  src/pkg-core/mycore/__init__.py
  src/pkg-first/myfirst/__init__.py
  src/pkg-second/mysecond/__init__.py
  src/pkg-third/pkg_third/__init__.py
  src/precommit_ci_test/settings.py
Due: none

add docstring, intentional malformat
  src/pkg-fourth/pkg_fourth/__init__.py
Due: none

Revert "[pre-commit.ci] auto fixes from pre-commit.com hooks" for testing
  src/pkg-first/myfirst/__init__.py
  src/pkg-second/mysecond/__init__.py
  src/pkg-third/pkg_third/__init__.py
  src/precommit_ci_test/settings.py
Due: none

update .pre-commit-config, see if pre-commit default install required
  .pre-commit-config.yaml
Due: none

test local task
  .github/CODEOWNERS
  .pre-commit-config.yaml
  tasks/codeowners_sort.py
Due: none

update .pre-commit config
  .pre-commit-config.yaml
Due: none

update CODEOWNERS
  .github/CODEOWNERS
Due: none

intentional unsort
  pyproject.toml
Due: pdm-lock-check, toml-sort

Path conditions:
  pdm-lock-check: any of: ^pyproject.toml$
  toml-sort: any of: \.toml$
  forbidden-files: any of: \.rej$
